@page "/"
@model UrlShortener.Pages.HomeModel
@{
    ViewData["Title"] = "Главная";
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-11 col-md-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label asp-for="NewUrl" class="form-label fw-bold">Длинный URL</label>
                        <input asp-for="NewUrl" class="form-control" placeholder="https://example.com/very/long/url" />
                        <span asp-validation-for="NewUrl" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Сократить</button>
                </form>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-links table-hover align-middle">
                        <thead class="table">
                            <tr>
                                <th>Длинный URL</th>
                                <th>Сокращенный URL</th>
                                <th>Дата создания</th>
                                <th>Кол-во переходов</th>
                                <th>Управление</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ShortLinks != null && Model.ShortLinks.Any())
                            {
                                @foreach (var link in Model.ShortLinks)
                                {
                                    <tr>
                                        <td>
                                            @if (Model.EditingId == link.Id)
                                            {
                                                <form method="post" asp-page-handler="Update" asp-route-id="@link.Id" id="edit-form-@link.Id" asp-route-pageNumber="@Model.PageNumber">
                                                    <input type="url" name="newUrl" value="@link.OriginalUrl" class="form-control form-control-sm" />
                                                </form>
                                            }
                                            else
                                            {
                                                <a href="@link.OriginalUrl" target="_blank" title="@link.OriginalUrl">
                                                    @link.OriginalUrl
                                                </a>
                                            }
                                        </td>
                                        <td>
                                            <a href="/@link.ShortCode" target="_blank">
                                                @($"{Request.Scheme}://{Request.Host}/{link.ShortCode}")
                                            </a>
                                            <button class="btn btn-sm btn-link"
                                                    onclick="navigator.clipboard.writeText('@($"{Request.Scheme}://{Request.Host}/{link.ShortCode}")')">
                                            </button>
                                        </td>
                                        <td>@link.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                                        <td class="text-center align-middle">
                                            <span class="badge bg-primary rounded-pill px-3 py-2 click-count-badge">
                                                @link.ClickCount
                                            </span>
                                        </td>
                                        <td>
                                            @if (Model.EditingId == link.Id)
                                            {
                                                <div>
                                                    <button type="submit" form="edit-form-@link.Id" class="btn btn-primary">
                                                        Сохранить
                                                    </button>
                                                    <a asp-page="/Home" asp-route-pageNumber="@Model.PageNumber" class="btn btn-secondary">
                                                        Отмена
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    <a asp-page="/Home" asp-route-editId="@link.Id" asp-route-pageNumber="@Model.PageNumber" class="btn btn-primary">
                                                        Редактировать
                                                    </a>
                                                    <a asp-page-handler="Delete" asp-route-id="@link.Id" asp-route-pageNumber="@Model.PageNumber" class="btn btn-primary" onclick="return confirm('Удалить ссылку?')">
                                                        Удалить
                                                    </a>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center text-muted py-4"> Пусто </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" asp-page="/Home" asp-route-pageNumber="@(Model.PageNumber - 1)">Назад</a>
                            </li>

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                    <a class="page-link" asp-page="/Home" asp-route-pageNumber="@i">@i</a>
                                </li>
                            }

                            <li class="page-item @(Model.PageNumber == Model.TotalPages ? "disabled" : "")">
                                <a class="page-link" asp-page="/Home" asp-route-pageNumber="@(Model.PageNumber + 1)">Вперед</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>

